<%- include('partial/header3') -%>
<section id="forYou" class="">
<div class="foryou  ms-auto ">
    <form action="/song" method="post" class="searching">
            <input type="search" name="songName" class='input1 bg-dark text-light fn' id="tags" placeholder="Search">
            <button type="submit" class="btn bg-dark">
                <i class="fas fa-search text-white"></i>
            </button>
      </form>
<h1 class="fortext2">History</h1>
</div>
<div class="row rows3" style="background-color: #121212;">
    <div class="most">
        <h1 class="mostText2">Recently Played</h1>
        
    </div>
    <div class="col-lg-12 p-2 width">
    
        <ul id="songs2" class="songs p-0" >
        
        <% for(i=0;i<array1.length;i++){ %>
            <li class="trend ajab">
                <span class="images ajab">
                    <img id="dynamicimage" src= <%= array1[i].imag %> class="pngs ajab" alt="">
                    <span class="playPause1">
                        <i class="playPause2 fa-solid  lh-lg fas"></i>
                    </span>
                </span>
                <span class="names ajab">
                    <a id="song" class="RB ajab fm1"> <%= array1[i].songnaam %></a>
                    <p id="singer" class="singer ajab fm2"> <%= array1[i].singername %></p>
                </span>
            </li>
        <% } %>
       

        </ul>  
    </div>
   

</div>

</section>

<%- include('partial/footer4') -%>

